<div class="row-fluid">
  <div class="span2">
    <ul class="nav nav-pills nav-stacked" id='side-nav'>
      <li><a href="#" id='posts'>Posts</a></li>
      <li><a href="#" id='pages'>Pages</a></li>
    </ul>
  </div>
  <div class="span10" id='details-pane'>
    <h1>Let's get started!</h1>
    <p class='lead'>
      Octopub allows you to manage your <strong>pages</strong> and <strong>posts</strong>.
      Choose one of the options at the side to view your current pages and posts, or 
      add a new page or post from the navbar at the top.
    </p>
  </div>
</div>