<header>
  <h1>Welcome to Octopub.</h1>
  <p class='lead'>Octopub makes it easy to manage your posts and pages on GitHub Pages, even if you don't know Git.</p>
</header>

<form class='form-horizontal well'>
  <fieldset>
    <legend>Login to GitHub to get started.</legend>
    <div class='control-group'>
      <label class='control-label'>GitHub UserName</label>
      <div class='controls'>
        <input type='text' name='username' />
      </div>
    </div>

    <div class='control-group'>
      <label class='control-label'>Password</label>
      <div class='controls'>
        <input type='password' name='password' />
        <p class='help-block'>Don't worry, this information is <strong>only</strong> sent to GitHub.</p>
      </div>
    </div>

    <div class='control-group'>
      <label class='control-label'>Repository to Edit</label>
      <div class='controls'>
        <input type='text' name='repo' />
      </div>
    </div>

    <div class='form-actions'>
      <input type='submit' class='btn btn-primary' value="Let's go!" />
    </div>
  </fieldset>
</form>